
/* .signin-container{
    display: block;
    justify-content: center;
    align-items: center;
    background-color: red;
   margin: auto;
} */

/* .form{ 
    display:block ;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: auto;
    background-color: blue;
    margin: auto;
    border-radius: 10px;
}
.formgroup input{
    border: 3px black solid;
    border-radius: 5px;
    width: 80%;
    height: 30px;
    margin: 15px;
}
.formgroup{
    display:flex;
    justify-content: center;
    align-items: center;

} */
.signin-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.89);;
  }
  .signin-container h2{
    color: white;
    font-family: inter;
    font-size: 32px;
    margin-bottom: 20px;
  }
  .signin-container p{
    color: white;
    font-family: inter;
    font-size: 24px;
    margin-top: 20px;
  }
  .card {
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    max-width: 400px;
  }
  .form {
    background-color: pink;
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Add padding as needed for spacing within the form */
    /* Add additional form styles here */
    border-radius: 10px;
  }
  
  .formgroup {
    width:100%;
    margin: 10px; /* Add margin to separate form elements */
  }
  .formgroup input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    font-family: inter;
    font-size: 24px;
    border: 2px black solid;
  }
  .signin-container button{
    background-color: blue;
    height: 40px;
}