.activebtn{
    background:#7A6EC6;
    color:#FFFFFF;
    cursor:pointer;
   }
.Home{
    width: 100%;
}
  .sidebar{
    float: left;
    width: 30%;
    height: 100vh;
    background-color: #F7CAC9;
  }
  .centerCms{
   width: 40%;
   text-align: center;
  }
.rightbar{
    float: right;
    width: 30%;
    height: 100vh;
    
}